.header {
  border-bottom: 1px solid #fff;
}

/* 네비게이션바. */
.bg-body-tertiary {
  background-color: #313131 !important;
}

.navbar {
  padding: 0;
}

.container-fluid {
  padding: 0 12px;
}

.navbar-collapse {
  justify-content: center;
  margin-right: 4px;
}

.header__logo {
  text-align: center;
  border-left: 1px solid #fff;
}

.nav-item a {
  position: relative;
  font-weight: normal;
  font-family: var(--font-Montserrat);
  color: #fff;
  padding: 40px 12px;
  font-size: 24px;
}

/* 마우스오버효과 */
.nav-item a::after {
  position: absolute;
  content: '';
  width: 80%;
  height: 2px;
  top: 70%;
  left: 10%;
  background: #f91900;
  transition: transform 0.3s;
  transform: scaleX(0);
  transform-origin: right;
}

.nav-item a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* 로고 */
.navbar-brand {
  margin: 0;
  display: inline-block;
  padding: 36px 24px;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}

.navbar-brand:hover {
  color: #fff;
}

.navbar-brand:focus {
  color: #fff;
}


/* 헤더 고정 */
.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  transition: all 0.3s;
}

/* 헤더높이 */
.nav-up {
  top: -108px;
}

.nav-down {
  top: 0;
}

/* 버튼 */
.navbar-toggler {
  margin-right: 24px;
  border: solid #fff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* 모바일 환경 */
@media (max-width: 991px) {
  .navbar-nav {
    text-align: center;
    font-size: 19px;
  }

  .nav-item {
    padding: 24px 0;
  }

  .nav-item a {
    font-size: 19px;
  }
  
  .header__logo {
    border: none;
  }

  .navbar-brand {
    padding: 24px 12px;
  }
}